In [336]:
import pandas as pd # importing pandas here
df = pd.read_csv(r"D:\Information Technology\Netflix all time data\data.csv")
print((df).head()) # printing the first few data here

                 title   type                     genres  releaseYear  \
0                Ariel  movie       Comedy, Crime, Drama       1988.0
1  Shadows in Paradise  movie       Comedy, Drama, Music       1986.0
2         Forrest Gump  movie             Drama, Romance       1994.0
3      American Beauty  movie                      Drama       1999.0
4    The Fifth Element  movie  Action, Adventure, Sci-Fi       1997.0

      imdbId  imdbAverageRating  imdbNumVotes availableCountries
0  tt0094675                7.4        9216.0                NaN
1  tt0092149                7.4        8047.0                NaN
2  tt0109830                8.8     2386448.0                NaN
3  tt0169547                8.3     1251085.0                NaN
4  tt0119116                7.6      528257.0                NaN

In [338]:
df['availableCountries'].notnull().sum() # cheking the sum of nun null values from this columns

155

In [340]:
print(df[df['availableCountries'].notnull()]['availableCountries']) # checking the non null values in this column

648                                                     TZ
1362                                                    TZ
1618                                                    TZ
2516                                                BR, PT
2798     AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE...
                               ...
21657               HK, ID, IN, JP, MY, PH, PK, SG, TH, TW
21670           HK, ID, IN, JP, KR, MY, PH, PK, SG, TH, TW
21680                                       AT, CH, DE, LI
21682    FJ, HK, ID, IN, JP, KR, MU, MY, PH, PK, SG, TH...
21692    AT, CH, DE, HK, ID, IN, IT, JP, KR, LI, MY, PH...
Name: availableCountries, Length: 155, dtype: object

In [342]:
df.info() # checking the all information of the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21850 entries, 0 to 21849
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               21119 non-null  object
 1   type                21850 non-null  object
 2   genres              21480 non-null  object
 3   releaseYear         21810 non-null  float64
 4   imdbId              20208 non-null  object
 5   imdbAverageRating   20030 non-null  float64
 6   imdbNumVotes        20030 non-null  float64
 7   availableCountries  155 non-null    object
dtypes: float64(3), object(5)
memory usage: 1.3+ MB

In [344]:
df.isnull().sum() # checking the null values along every columns

title                   731
type                      0
genres                  370
releaseYear              40
imdbId                 1642
imdbAverageRating      1820
imdbNumVotes           1820
availableCountries    21695
dtype: int64

In [346]:
df['releaseYear'] = pd.to_datetime(df['releaseYear'], format = '%Y', errors = 'coerce') # coveting the column to date time format

In [348]:
df = df[df['title'].notna()]

In [350]:
df.isnull().sum()

title                     0
type                      0
genres                  171
releaseYear               3
imdbId                  911
imdbAverageRating      1089
imdbNumVotes           1089
availableCountries    20997
dtype: int64

In [352]:
mode_value = df['genres'].mode()[0] # finding the most frequent values for this specific column

In [354]:
df['genres'] = df['genres'].fillna(mode_value)

In [356]:
df.isnull().sum()

title                     0
type                      0
genres                    0
releaseYear               3
imdbId                  911
imdbAverageRating      1089
imdbNumVotes           1089
availableCountries    20997
dtype: int64

In [358]:
mode_value_year = df['releaseYear'].mode()[0]

In [360]:
df['releaseYear'] = df['releaseYear'].fillna(mode_value_year)

In [362]:
df.isnull().sum()

title                     0
type                      0
genres                    0
releaseYear               0
imdbId                  911
imdbAverageRating      1089
imdbNumVotes           1089
availableCountries    20997
dtype: int64

In [364]:
df['imdbId'].dtype

dtype('O')

In [366]:
df['imdbId'].dtype

dtype('O')

In [368]:
print(df['imdbId'])
print(df['imdbId'].isna().sum())  # Number of missing values
print(df['imdbId'].notna().sum())  # Number of valid numbers

0         tt0094675
1         tt0092149
2         tt0109830
3         tt0169547
4         tt0119116
            ...
21841    tt36587037
21842    tt36590949
21845    tt32249973
21846    tt36614653
21849    tt21964626
Name: imdbId, Length: 21119, dtype: object
911
20208

In [370]:
print(df['imdbId'].dtype)
print(df['imdbId'].head())

object
0    tt0094675
1    tt0092149
2    tt0109830
3    tt0169547
4    tt0119116
Name: imdbId, dtype: object

In [372]:
df.isnull().sum()

title                     0
type                      0
genres                    0
releaseYear               0
imdbId                  911
imdbAverageRating      1089
imdbNumVotes           1089
availableCountries    20997
dtype: int64

In [374]:
df['imdbId'].isnull().sum()

911

In [376]:
df.drop(columns=['imdbId'], inplace = True)

In [378]:
df.isnull().sum()

title                     0
type                      0
genres                    0
releaseYear               0
imdbAverageRating      1089
imdbNumVotes           1089
availableCountries    20997
dtype: int64

In [381]:
mean_value = df['imdbAverageRating'].mean()
df['imdbAverageRating'] = df['imdbAverageRating'].fillna(mean_value)

In [383]:
df.isnull().sum()

title                     0
type                      0
genres                    0
releaseYear               0
imdbAverageRating         0
imdbNumVotes           1089
availableCountries    20997
dtype: int64

In [385]:
df.drop(columns = ['imdbNumVotes'], inplace = True)

In [387]:
df.isnull().sum()

title                     0
type                      0
genres                    0
releaseYear               0
imdbAverageRating         0
availableCountries    20997
dtype: int64

In [389]:
print(df['availableCountries'].notna().sum())

122

In [391]:
df.drop(columns = ['availableCountries'], inplace = True)

In [393]:
df.isnull().sum()

title                0
type                 0
genres               0
releaseYear          0
imdbAverageRating    0
dtype: int64

In [397]:
print(df.columns)

Index(['title', 'type', 'genres', 'releaseYear', 'imdbAverageRating'], dtype='object')