In [30]:
import pandas as pd
df = pd.read_csv(r"D:\Information Technology\Netflix all time data\data.csv")
print((df).head())

                 title   type                     genres  releaseYear  \
0                Ariel  movie       Comedy, Crime, Drama       1988.0
1  Shadows in Paradise  movie       Comedy, Drama, Music       1986.0
2         Forrest Gump  movie             Drama, Romance       1994.0
3      American Beauty  movie                      Drama       1999.0
4    The Fifth Element  movie  Action, Adventure, Sci-Fi       1997.0

      imdbId  imdbAverageRating  imdbNumVotes availableCountries
0  tt0094675                7.4        9216.0                NaN
1  tt0092149                7.4        8047.0                NaN
2  tt0109830                8.8     2386448.0                NaN
3  tt0169547                8.3     1251085.0                NaN
4  tt0119116                7.6      528257.0                NaN

In [26]:
df['availableCountries'].notnull().sum() # cheking the sum of nun null values from this columns

155

In [28]:
print(df[df['availableCountries'].notnull()]['availableCountries']) # checking the non null values in this column

648                                                     TZ
1362                                                    TZ
1618                                                    TZ
2516                                                BR, PT
2798     AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE...
                               ...
21657               HK, ID, IN, JP, MY, PH, PK, SG, TH, TW
21670           HK, ID, IN, JP, KR, MY, PH, PK, SG, TH, TW
21680                                       AT, CH, DE, LI
21682    FJ, HK, ID, IN, JP, KR, MU, MY, PH, PK, SG, TH...
21692    AT, CH, DE, HK, ID, IN, IT, JP, KR, LI, MY, PH...
Name: availableCountries, Length: 155, dtype: object